{% load static %}
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>base_layer_template</title>
    <link rel="icon" href="{% static 'simspp/assets/icons/sonic.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/css/styles.css' %}">
</head>

<body>
    <div class="row" style="margin: 15px;">
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">thichness</span></div><input type="text" class="form-control" />
                <div class="input-group-append"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 15px;">
        <div class="col col-sm-12 col-xl-6 col-md-6">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">matter</span></div><input type="text" class="form-control" />
                <div class="input-group-append">
                    <div class="dropdown btn-group" role="group"><button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"></button>
                        <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item" href="#">First Item</a><a role="presentation" class="dropdown-item" href="#">Second Item</a><a role="presentation" class="dropdown-item" href="#">Third Item</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-xl-6 col-md-6">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">fraction</span></div><input type="text" class="form-control" />
                <div class="input-group-append"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 15px;">
        <div class="col col-sm-12 col-xl-6 col-md-6">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">matter</span></div><input type="text" class="form-control" />
                <div class="input-group-append">
                    <div class="dropdown btn-group" role="group"><button class="btn btn-info btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button"></button>
                        <div role="menu" class="dropdown-menu"><a role="presentation" class="dropdown-item" href="#">First Item</a><a role="presentation" class="dropdown-item" href="#">Second Item</a><a role="presentation" class="dropdown-item" href="#">Third Item</a></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-sm-12 col-xl-6 col-md-6">
            <div class="input-group">
                <div class="input-group-prepend"><span class="input-group-text">fraction</span></div><input type="text" class="form-control" />
                <div class="input-group-append"></div>
            </div>
        </div>
    </div>
    <div class="row" style="margin: 15px;">
        <div class="col text-center"><button class="btn btn-light btn-sm" type="button" style="background-color: #6ac9ff;"><i class="fa fa-plus-circle"></i> Add component</button></div>
    </div>
</body>

</html>