{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Layout</title>
    <link rel="icon" href="{% static 'simspp/assets/icons/sonic.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/css/styles.css' %}">
</head>

<body style="background-color: rgb(220,220,220);">
    
    <p>It's a beautiful life</p>
    <p id='replacable'>this part will be replaced by layer form</p>
    <script src="{% static 'simspp/features/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'simspp/features/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static 'simspp/features/assets/main_script.js' %}"></script>
</body>

</html>