{% load static %}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Layout</title>
    <link rel="icon" href="{% static 'simspp/assets/icons/sonic.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/css/styles.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>

<body style="background-color: rgb(220,220,220);">
    {% include 'popup.html' %}
    {% include "layer_contents.html" %}


    <div class="row" style="margin: 20px;">
        <div class="col col-md-12 col-sm-12 col-lg-6" style="min-width:350px;">
            <div style="background-color: #ffffff;border-radius: 20px;">
                <div class="row" style="margin: 0px;">
                    <div class="col-1" style="padding: 0px;"><button class="btn btn-sm border-primary float-right" type="button"><i class="fa fa-minus" style="font-size: 12px;color: rgb(3,162,0);"></i></button></div>
                    <div class="col-10 text-left" style="padding: 0px;">
                        <div class="table-responsive">
                            <table class="table table-sm">
                                <thead>
                                    <tr class="text-center">
                                        <th>Structure name</th>
                                        <th>Created</th>
                                        <th>show plots<br /></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr style="height: 20px;">
                                        <td>Bk7()/Ag(50nm)/Ag2O3(2nm)</td>
                                        <td>18/02/2021 16:17</td>
                                        <td class="text-center"><button class="btn btn-primary" type="button" style="font-size: 12px;display: inline-block;margin: 1px;">simple</button><button class="btn btn-primary" type="button" style="font-size: 12px;display: inline-block;margin: 1px;">contour</button></td>
                                    </tr>
                                    <tr style="height: 20px;">
                                        <td>MgO()/FePd(20nm)<br /></td>
                                        <td>05/03/2021 09:58<br /><br /></td>
                                        <td class="text-center"><button class="btn btn-primary" type="button" style="font-size: 12px;display: inline-block;margin: 1px;">simple</button><button class="btn btn-primary" type="button" style="font-size: 12px;display: inline-block;margin: 1px;">contour</button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div id="structure_constructor">
                <p class="text-center" style="font-size: 20px;">Structure creating: </p>
                <form style="margin-top: 15px;">
                    {% csrf_token %}
                    <div id="layers_container" style="margin: 0px;padding: 0px;"></div>
                    <div class="form-row">
                        <div class="col col-xs-1"></div>
                        <div class="col-10" style="background-color: #c9ff9f;margin: 0px;padding: 0px;">
                            <div class="description"><button class="btn btn-primary" id="submit_btn" type="button">Submit</button><button class="btn btn-dark float-right" id="clear_all_btn" type="button">Clear all</button></div>
                        </div>
                        <div class="col col-xs-1"></div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col">
            <div style="margin: 15px;">
                <div>
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a class="nav-link active" href="#simple" data-toggle="tab">R(alpha)</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contour" data-toggle="tab">R(lambda, alpha)<br /></a></li>
                    </ul>
                </div>
                <div class="tab-content" style="background-color: #ffffff;">
                    <div id="simple" class="container tab-pane fade" style="border-radius: 25px;width: 900px;height: 800px;"><button class="btn btn-sm border-dark" type="button" style="background-color: #ffffff;"><i class="fa fa-download" style="font-size: 16px;color: rgb(3,162,0);"></i> Download data</button></div>
                    <div id="contour" class="container tab-pane fade"
                        style="border-radius: 20px;width: 900px;height: 800px;"><button class="btn btn-sm border-dark" type="button" style="background-color: #ffffff;"><i class="fa fa-download" style="font-size: 16px;color: rgb(3,162,0);"></i> Download data</button></div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.2.1/js.cookie.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="{% static 'simspp/features/assets/js/math.js' %}"></script>
    <script src="{% static 'simspp/features/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'simspp/features/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="{% static 'simspp/features/assets/main_script.js' %}"></script>
</body>

</html>