{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>base_layer_template</title>
    <link rel="icon" href="{% static 'simspp/assets/icons/sonic.png' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/fonts/fontawesome-all.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/fonts/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/fonts/fontawesome5-overrides.min.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'simspp/features/assets/css/styles.css' %}">

</head>

<body>
    <div class="row">
        <div class="col-1 text-right float-left align-self-end col-xs-1" style="padding: 0px;"><button class="btn btn-success text-right border-primary" type="button"><i class="fas fa-plus"></i></button></div>
        <div class="col" style="background-color: #c9ff9f;padding: 0px;"><button class="btn btn-warning btn-block" type="button"><strong>Base Layer #0</strong><br /></button>
            <div role="group" class="btn-group" style="margin: 15px 0px 0px 30px;"><button class="btn btn-warning" type="button">Base type</button><button class="btn btn-secondary" type="button">EMA type</button></div>
            <div class="description"></div>
            <div style="margin: 15px 15px 15px 30px;"><button class="btn btn-success" type="button">Save</button></div>
        </div>
        <div class="col-1 text-left float-right col-xs-1" style="padding: 0px;"><button class="btn btn-danger border rounded-0 border-danger" type="button"><i class="fas fa-times"></i></button></div>
    </div>

    <script src="{% static 'simspp/features/assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'simspp/features/assets/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'simspp/features/assets/layer.js' %}"></script>
</body>

</html>